/* .card{
    background-color: rgb(216, 215, 215);
    padding: 10px;
    margin-bottom: 5px;
    width: 50%;
    border: 1px solid gray;
} */
.card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }